@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/* font-family: 'Audiowide', cursive; */
/* font-family: 'Noto Serif', serif; */

body {
 
    background-color:black;
    text-align: center;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: red;
}

h3 {
    font-family: 'Noto Serif', serif;
    color:yellow;
}

input {
    height: 2rem;
    width: 25%;
    padding: 0.5rem;
    border: 0.5rem ridge red;
    border-radius: 0.5rem;
}
p {
    font-family: 'Noto Serif', serif; 
    color: green;
}
button {
    font-family: 'Noto Serif', serif;  
    height: 2rem;
    width: 20%;
    color: blue;
    font-size: 1rem; 
    border: 0.3rem solid green;
    border-radius: 1rem;
}
#container-center {
    max-width:50%;
    margin: auto;
}
table, th, td {
    width: 60%;
    color: red;
    font-family: 'Noto Serif', serif;  
    border: 0.2rem ridge yellow;
    margin:auto;
}